:root {
  --swiper-scrollbar-border-radius: 10px;
  --swiper-scrollbar-top: auto;
  --swiper-scrollbar-bottom: 4px;
  --swiper-scrollbar-left: auto;
  --swiper-scrollbar-right: 4px;
  --swiper-scrollbar-sides-offset: 1%;
  --swiper-scrollbar-bg-color: rgba(255, 255, 255, 0.1);
  --swiper-scrollbar-drag-bg-color: rgba(255, 255, 255, 0.5);
  --swiper-scrollbar-size: 4px;
}

.Mystery_Pryer_T_F {
  background-image: url(/src/Mystery_Pryer_F_V1.png);
}
.Mystery_Pryer_T_F_V2 {
  background-image: url(/src/Mystery_Pryer_F_V2.png);
}
.Mystery_Pryer_T_B {
  background-image: url(/src/Mystery_Pryer_B_V1.png);
}
.Mystery_Pryer_T_BG {
  background-image: url(/src/Mystery_Pryer_Bg17.png);
  animation: morphBgMystery_Pryer 10s linear infinite;
  background-size: cover;
  background-position: center;
}
.Archaeologist_T_F {
  background-image: url(/src/Archaeologist_F_V1.png);
}
.Archaeologist_T_F_V2 {
  background-image: url(/src/Archaeologist_F_V2.png);
}
.Archaeologist_T_B {
  background-image: url(/src/Archaeologist_B_V1.png);
}
.Archaeologist_T_BG {
  background-image: url(/src/Archaeologist_Bg17.png);
  animation: morphBgArchaeologist 10s linear infinite;
  background-position: center;
  background-size: cover;
}
.Corpse_Collector_T_F {
  background-image: url(/src/Corpse_Collector_F_V1.png);
}
.Corpse_Collector_T_F_V2 {
  background-image: url(/src/Corpse_Collector_F_V2.png);
}
.Corpse_Collector_T_B {
  background-image: url(/src/Corpse_Collector_B_V1.png);
}
.Corpse_Collector_T_BG {
  background-image: url(/src/Corpse_Collector_Bg17.png);
  animation: morphBgCorpse_Collector 10s linear infinite;
  background-position: center;
  background-size: cover;
}

@keyframes morphBgCorpse_Collector {
  0% {
    background-image: url(/src/Corpse_Collector_Bg17.png);
  }
  25% {
    background-image: url(/src/Corpse_Collector_Bg50.png);
  }
  50% {
    background-image: url(/src/Corpse_Collector_Bg100.png);
  }
  75% {
    background-image: url(/src/Corpse_Collector_Bg50.png);
  }
  100% {
    background-image: url(/src/Corpse_Collector_Bg17.png);
  }
}
@keyframes morphBgArchaeologist {
  0% {
    background-image: url(/src/Archaeologist_Bg17.png);
  }
  25% {
    background-image: url(/src/Archaeologist_Bg50.png);
  }
  50% {
    background-image: url(/src/Archaeologist_Bg100.png);
  }
  75% {
    background-image: url(/src/Archaeologist_Bg50.png);
  }
  100% {
    background-image: url(/src/Archaeologist_Bg17.png);
  }
}

@keyframes morphBgMystery_Pryer {
  0% {
    background-image: url(/src/Mystery_Pryer_Bg17.png);
  }
  25% {
    background-image: url(/src/Mystery_Pryer_Bg50.png);
  }
  50% {
    background-image: url(/src/Mystery_Pryer_Bg100.png);
  }
  75% {
    background-image: url(/src/Mystery_Pryer_Bg50.png);
  }
  100% {
    background-image: url(/src/Mystery_Pryer_Bg17.png);
  }
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

.hide {
  display: none;
}

body {
  background-color: #0b0a08;
  color: #f2f2f2;
  -webkit-font-smoothing: antialiased;
}

body,
input,
button {
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

button {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 10px;
  background-image: url(src/bg1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

::-webkit-scrollbar-thumb {
  background-color: #1d0807;
}

::-webkit-scrollbar-thumb:hover {
  background: #500403;
}

.boxVideo {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 2;
  height: fit-content;
}

/*  */

video {
  width: 100%;
  /* position: absolute; */
  top: 0;
  left: 0;
  z-index: 2;
}

.filter {
  position: absolute;
  background-color: rgb(142, 0, 0);
  opacity: 0.15;
  z-index: 3;
  width: 100%;
  top: 0;
  left: 0;
  aspect-ratio: 2 / 1;
}

.pageLayer2 {
  margin: 55px 0;
}

.logoWork {
  content: url("./src/worlaholic.svg");
  position: absolute;
  aspect-ratio: 2 / 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  z-index: 4;
}

.warning1 {
  position: absolute;
  background: url("./src/warning1.png");
  background-size: contain;
  background-position: center;
  background-repeat: repeat-x;
  top: 100%;
  left: 0;
  width: 100%;
  height: 55px;
  z-index: 5;
}

.warning2 {
  position: absolute;
  background: url("./src/warning2.png");
  background-size: contain;
  background-position: center;
  background-repeat: repeat-x;
  bottom: 100%;
  left: 0;
  width: 100%;
  height: 55px;
  z-index: 5;
}

.warningSecond {
  margin: 110px 0 55px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* background-color: #0b0a08; */
}

.iconWarning {
  content: url("./src/warningIcon.svg");
  width: 10%;
  aspect-ratio: 1 / 1;
}

.wText {
  font-size: 1.5rem;
  font-weight: 600;
  color: #f2f2f2;
  text-align: center;
}

.RedText {
  color: #e10201;
  font-size: 1.5rem;
  font-weight: 700;
}

.header {
  position: fixed;
  z-index: 40;
  top: 0;
  left: 0;
  width: 100%;
}

.headerBlock {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 55px;
  align-items: center;
  padding: 10px 60px 0px;
}

.headerLeft {
  display: flex;
  align-items: center;
  gap: 10px;
}

.headerRight {
  display: flex;
  align-items: center;
  gap: 10px;
}

.menu {
  padding: 5px;
  line-height: 10px;
  background-color: #ff15152b;
  backdrop-filter: blur(3px);
  border-radius: 5px;
  cursor: pointer;
}

.namePage {
  line-height: 32px;
  font-size: 18px;
  font-weight: 600;
  padding: 5px 17px;
  background-color: #ff15152b;
  backdrop-filter: blur(5px);
  scroll-behavior: smooth;
  border-radius: 5px;
  cursor: pointer;
}

.iconBag {
  padding: 9px;
  line-height: 10px;
  background-color: #ff15152b;
  backdrop-filter: blur(3px);
  border-radius: 5px;
  cursor: pointer;
}

.bagBtn {
  line-height: 32px;
  font-size: 18px;
  font-weight: 600;
  padding: 5px 17px;
  background-color: #ff15152b;
  backdrop-filter: blur(5px);
  scroll-behavior: smooth;
  border-radius: 5px;
  cursor: pointer;
}

.subHeaderOfProduct {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 120px;
}

.new {
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
}

.viewAll {
  line-height: 32px;
  font-size: 18px;
  font-weight: 600;
  padding: 5px 17px;
  background-color: #ff15152b;
  backdrop-filter: blur(5px);
  scroll-behavior: smooth;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
}

.pageLayer1 {
  width: 100%;
  position: static;
  /* z-index: -100; */
  bottom: 0;
  /* position: relative; */
  /* display: none; */
  /* position: absolute; */
}

.pageLayer2 {
  width: 100%;
  /* position: absolute; */
  position: relative;
  z-index: 28;
}

.pageLayer3 {
  width: 100%;
  /* position: absolute; */
  position: relative;
  /* display: none; */
  padding: 20px 120px 20px;
  overflow: hidden;
  z-index: 30;
  background-color: #0b0a08;
}

.viewProduct {
  background-color: #0000003b;
  width: 100%;
  aspect-ratio: 3/2;
  display: flex;
  gap: 20px;
  border-radius: 10px;
  margin: 100px 0 20px;
  padding: 10px;
}

.viewProduct > div {
  flex: 1;
  /* border: 1px solid #ccc; */
  aspect-ratio: 1 / 3;
}

.phaseT {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.phaseT > div {
  flex: 1;
  /* margin: 15px; */
  /* border: 1px solid #ccc; */
}

.phaseInfo {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.phaseInfo > div {
  flex: 1;
  /* border: 1px solid #ccc; */
}

.viewProduct1 .phaseModel {
  background-image: url(/src/Corpse_Collector_model.png);
  background-size: contain;
  /* background-position: -40px center; */
  background-position: center;
  background-repeat: no-repeat;
}

.viewProduct1 .frontT {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.viewProduct1 .backT {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.viewProduct2 .phaseModel {
  background-image: url(/src/Archaeologist_model.png);
  background-size: contain;
  /* background-position: -40px center; */
  background-position: center;
  background-repeat: no-repeat;
}

.viewProduct2 .frontT {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.viewProduct2 .backT {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.viewProduct3 .phaseModel {
  background-image: url(/src/Mystery_Pryer_model.png);
  background-size: contain;
  /* background-position: -40px center; */
  background-position: center;
  background-repeat: no-repeat;
}

.viewProduct3 .frontT {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.viewProduct3 .backT {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* Hiệu ứng morph trigger cho .bgT - chuyển đổi giữa 3 ảnh nền */

.viewProduct1 .bgT {
  background-size: cover;
  background-position: center;
  margin: 15px;
  border-radius: 10px;
}

.viewProduct2 .bgT {
  background-size: cover;
  background-position: center;
  margin: 15px;
  border-radius: 10px;
}

.viewProduct3 .bgT {
  background-size: cover;
  background-position: center;
  margin: 15px;
  border-radius: 10px;
}

.infoT {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 100%;
}

.infoName {
  font-size: 42px;
  font-weight: 400;
  color: #f2f2f2;
}

.infoPrice {
  font-size: 32px;
  font-weight: 100;
  color: #f2f2f25c;
}

.addProduct {
  background-color: #910000a8;
  width: 42px;
  height: 42px;
  margin: 15px;
  border: none;
  border-radius: 7px;
}

.btnAddProduct {
  display: flex;
  justify-content: space-between;
  align-content: space-around;
  flex-direction: column;
  align-items: flex-end;
}

.numberPageBar {
  width: 100%;
  display: flex;
  justify-content: center;
}

.lineForPro {
  display: flex;
  gap: 5px;
  width: 50%;
}

.lineForProNew {
  width: 100%;
  border-radius: 1px;
  height: 3px;
  background-color: #f2f2f239;
  margin: 10px 0;
}

.new1 {
  background-color: #f2f2f299 !important;
}

.bgFooter {
  background-image: url("./src/bgText.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  aspect-ratio: 4.5/1;
  position: relative;
  overflow: hidden;
}

.textOnfooter {
  background-image: url("./src/textOnbg.png");
  background-size: cover;
  background-position: center;
  aspect-ratio: 5/1;
  width: 85%;
  position: absolute;
  z-index: 11;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bannerWarning {
  background-image: url(/src/warning1.png);
  background-size: cover;
  background-position: center;
  position: absolute;
  width: 60%;
  height: 55px;
}

.rotation1 {
  z-index: 15;
  top: 61%;
  left: 48%;
  transform: rotate(146deg);
  box-shadow: 11px -10px 18px #00000094;
}

.rotation2 {
  z-index: 13;
  top: 45%;
  left: 49%;
  transform: rotate(37deg);
  box-shadow: 11px -10px 18px #00000094;
}

.rotation3 {
  z-index: 14;
  top: 28%;
  left: 54%;
  transform: rotate(43deg);
  box-shadow: 11px -10px 18px #00000094;
}

.pageHome {
  position: relative;
  background-color: #0b0a08;
}

/* Popup Bag - CSS cho popup và hiệu ứng slide */

.popupBag.active {
  right: 0;
}

.popupContent {
  text-align: center;
  width: 80%;
}
.popupBag {
  position: fixed;
  top: 0;
  right: -100vh;
  width: 40%;
  height: 100vh;
  background: #0b0a08;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
  transition: right 0.5s cubic-bezier(0.77, 0, 0.18, 1);
  z-index: 39;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding-top: 70px;
}

.checkOut {
  width: 80%;
  text-align: center;
}

.subTotal {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  align-items: center;
}

.checkOutBtn {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  background-color: #840606;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s ease-in-out, font-size 0.2s ease-in;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}

.checkOutBtn:hover {
  background-color: #ab0c0c;
  font-size: 16.2px;
}

.itemBag {
  margin: 40px 0;
}
.item {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
.imgItem {
  background-size: cover;
  background-position: center;
  /* margin: 15px; */
  border-radius: 10px;
  height: 20vh;
  aspect-ratio: 1 /1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.itemImgT-Shirt {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 15vh;

  aspect-ratio: 1/1;
  z-index: 40;
  position: absolute;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  transition: transform 0.5s ease, top 0.5s ease;
}
.imgItem:hover .itemImgT-Shirt {
  transform: scale(1.05);
  top: 11.5%;
  /* top: 45%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

.contentItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 11px; */
  justify-content: space-between;
}
.infoItem {
  display: flex;
  justify-content: space-between;
  gap: 80px;
}

.nameAndPriceItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 200px;
}

.nameAndPriceItem > h4 {
  font-size: 18px;
}

.qty-input {
  /* background-color: #500403; */
  height: 40px;
  border: 0.5px solid #cccccc57;
  border-radius: 8px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.qty-input span {
  width: 100%;
  text-align: center;
  /* line-height: 10px; */
  font-size: 18px;
  font-weight: 700;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  cursor: pointer;
}

.qty-input span.product-qty {
  font-size: 16px;
  font-weight: 500;
  border-right: 0.5px solid #cccccc22;
  border-left: 0.5px solid #cccccc22;
  pointer-events: none;
}

/* bag css */

.wrapper {
  overflow: hidden;
  /* margin: 0 100px; */
}
.wrapper-scorllBar {
  overflow: hidden;
  width: 80%;
  display: flex;
}

.swiper-scrollbar {
  border-radius: var(--swiper-scrollbar-border-radius, 10px);
  position: relative;
  touch-action: none;
  background: var(--swiper-scrollbar-bg-color, rgba(255, 255, 255, 0.1));
}
.swiper-scrollbar-disabled > .swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-disabled {
  display: none !important;
}
.swiper-horizontal > .swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-horizontal {
  position: absolute;
  text-align: center;
  /* left: 0;
  transform: translateX(-40%); */
  bottom: var(--swiper-scrollbar-bottom, 4px);
  top: var(--swiper-scrollbar-top, auto);
  left: 50%;
  transform: translateX(-50%);
  z-index: 50;
  height: var(--swiper-scrollbar-size, 4px);
  width: calc(50% - 2 * var(--swiper-scrollbar-sides-offset, 15%));
  margin: 0 0 15px 0;
}
.swiper-vertical > .swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-vertical {
  position: absolute;
  left: var(--swiper-scrollbar-left, auto);
  right: var(--swiper-scrollbar-right, 4px);
  top: var(--swiper-scrollbar-sides-offset, 1%);
  z-index: 50;
  width: var(--swiper-scrollbar-size, 4px);
  height: calc(100% - 2 * var(--swiper-scrollbar-sides-offset, 1%));
}
.swiper-scrollbar-drag {
  height: 100%;
  width: 100%;
  position: relative;
  background: var(--swiper-scrollbar-drag-bg-color, rgba(255, 255, 255, 0.5));
  border-radius: var(--swiper-scrollbar-border-radius, 10px);
  left: 0;
  top: 0;
}
.swiper-scrollbar-cursor-drag {
  cursor: move;
}
.swiper-scrollbar-lock {
  display: none;
}

.background-image {
  position: fixed;
  bottom: 0;
  z-index: 37;
  pointer-events: none;
}

.boxFlying {
  height: 70px;
  width: 3000px;
  background-position: center;
  background-size: contain;
  background-image: url(/src/warning2.png);
}
.boxFlying1 {
  box-shadow: 114px 20px 18px #00000094;
}
.boxFlying2 {
  box-shadow: 6px 20px 18px #00000094;
}
.boxFlying3 {
  box-shadow: 11px 11px 18px #00000094;
}
.boxFlying4 {
  box-shadow: 11px 10px 18px #00000094;
}
.boxFlying5 {
  box-shadow: 11px 15px 18px #00000094;
}

.swiper-button-prev,
.swiper-button-next {
  color: #22201d77;
  padding: calc(300px / 2) 30px;
  transform: translateY(-50%);
  cursor: pointer;
  background-color: #18161317;
  border-radius: 10px;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  color: #22201d9a;

  background-color: #1816132d;
}

.swiper-button-prev:active,
.swiper-button-next:active {
  color: #ab0c0c59;

  background-color: #1d080754;
}
